@import "reset";
@import "clearfix";

body,
html {
  direction: rtl;
  font-family: "Vazir", sans-serif;
}
a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: blue;
}

.container-1 {
  width: 100%;
  background: #003580;
  .navigation-1 {
    height: 85px;
    width: 960px;
    margin: auto;
    .main-title {
      color: white;
      font-weight: bold;
      font-size: 50px;
      padding-top: 5px;
      float: right;
      clear: both;
    }
    .sub-main-title {
      color: white;
      line-height: 25px;
      float: right;
      clear: both;
    }
    .button-sign-in {
      font-family: "Vazir", sans-serif;
      font-size: 12px;
      border: 0;
      background-color: white;
      border-radius: 5px;
      margin-top: -33px;
      float: left;
      padding: 7px;
      font-weight: bold;
      margin-right: 10px;
      outline: none;
    }
    .list-your-property {
      background-color: transparent;
      border: 1px solid #ffffff;
      color: #fff;
      padding: 6px;
    }
    .rial {
      color: #fff;
      float: left;
      margin-top: -21px;
      margin-left: 20px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.container-2 {
  width: 100%;
  background-color: #001b42;
  color: white;
  .navigation-2 {
    height: 40px;
    width: 960px;
    margin: auto;
    .nav-list {
      #plane-1 {
      }
      padding-top: 9px;
      .fa {
        margin-left: 10px;
      }
      .nav-icon {
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}
.container-3 {
  width: 960px;
  margin: auto;
  .navigation-cont-3 {
    .list-cont-3 {
      border-bottom: 1px solid rgba(53, 108, 253, 0.35);
      padding-bottom: 15px;
      .nav-3-links {
        color: #07c;
      }
      .nav-link-3 {
        display: inline-block;
        font-size: 12px;
        margin-left: 30px;
        margin-top: 10px;
      }
    }
  }
  .search-box {
    float: right;
    position: relative;
    width: 460px;
    height: 375px;
    font-size: 26px;
    color: #383838;
    background-color: #febb02;
    padding-top: 15px;
    padding-right: 15px;
    margin-top: 15px;
    border-radius: 5px;
    .search-box-title {
      font-size: 30px;
      font-weight: bold;
      font-family: "Vazir", sans-serif;
    }
    .search-box-sub-title {
      font-size: 14px;
      margin-top: 5px;
    }
    .fa-search {
      transform: scaleX(-1);
      float: right;
      margin-left: 10px;
    }
    .choose-your-destination {
      font-size: 18px;
      margin-top: 12px;
      color: #383838;
    }
    .search-text-box {
      border: 0;
      outline: none;
      width: 440px;
      color: #383838;
      border: 1px solid #003580;
      border-radius: 3px;
      height: 34px;
      direction: rtl;
      font-family: "Vazir", sans-serif;
    }
    .check-in {
      font-size: 14px;
      margin-top: 15px;
    }
    .check-out {
      position: absolute;
      font-size: 14px;
      margin-top: 15px;
      left: 40px;
      top: 132px;
      right: 245px;
    }
    .date-picker-in {
      position: absolute;
      top: 167px;
      border: 0;
      border-radius: 3px;
      height: 34px;
      width: 210px;
    }
    .date-picker-out {
      position: absolute;
      top: 167px;
      border: 0;
      border-radius: 3px;
      height: 34px;
      width: 210px;
      left: 20px;
    }
    .travel-for-work {
      position: absolute;
      font-family: "Vazir", sans-serif;
      font-weight: bold;
      font-size: 14px;
      top: 230px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 420px;
      border-radius: 3px;
    }
    .radio-yes {
      position: absolute;
      top: 238px;
      right: 220px;
    }
    .yes {
      position: absolute;
      top: 240px;
      right: 199px;
      font-size: 15px;
    }
    .radio-no {
      position: absolute;
      top: 238px;
      right: 275px;
    }
    .no {
      position: absolute;
      top: 240px;
      right: 254px;
      font-size: 15px;
    }
    .fa-question-circle {
      position: absolute;
      left: 31px;
      font-size: 20px;
      top: 238px;
      transform: scaleX(-1);
    }
    .rooms {
      position: absolute;
      top: 282px;
      font-size: 15px;
    }
    .room-selection {
      top: 279px;
      position: absolute;
      right: 45px;
      width: 40px;
    }
    .adults {
      position: absolute;
      top: 282px;
      font-size: 15px;
      right: 110px;
    }
    .num-of-adults {
      top: 279px;
      position: absolute;
      right: 181px;
      width: 40px;
    }
    .children {
      position: absolute;
      top: 282px;
      font-size: 15px;
      right: 252px;
    }
    .num-of-children {
      top: 279px;
      position: absolute;
      right: 302px;
      width: 40px;
    }
    .search-button {
      position: absolute;
      padding: 10px 25px;
      background-color: #07c;
      font-size: 20px;
      font-weight: bold;
      font-family: "Vazir", sans-serif;
      color: #fffffe;
      outline: none;
      top: 313px;
      left: 21px;
      border-radius: 6px;
      border: 0;
    }
  }
  .sign-in-discounts {
    position: absolute;
    background-color: #fde29d;
    float: left;
    width: 475px;
    height: 70px;
    top: 590px;
    border-radius: 5px;
    .fa-user-plus {
      padding: 7px;
      border-radius: 50%;
      border: 3px solid #febb02;
      position: absolute;
      top: 21px;
      right: 15px;
      color: #febb02;
      background-color: #424242;
      font-size: 12px;
    }
    .get-discounts {
      font-size: 12px;
      position: absolute;
      top: 21px;
      right: 58px;
      width: 252px;
      line-height: 15px;
    }
    .sign-in-small {
      border: 0;
      position: absolute;
      background-color: #07c;
      font-family: "Vazir", sans-serif;
      padding: 7px;
      border-radius: 5px;
      left: 47px;
      color: #ffffff;
      outline: none;
      top: 20px;
      font-size: 12px;
    }
  }

  .cities-promotions {
    position: relative;
    width: 460px;
    float: left;
    margin-top: 15px;
    border: 1px solid #febb02;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    .isfahan-title-img {
      position: absolute;
      font-family: "Vazir", sans-serif;
      font-weight: bold;
      color: #fff;
      top: 15px;
      font-size: 35px;
      right: 15px;
      text-shadow: 2px 2px #383838;
    }
    .isfahan-sub-title {
      position: absolute;
      top: 53px;
      right: 15px;
      font-size: 17px;
      color: #ffffff;
    }
    .isfahan-2nd-sub {
      position: absolute;
      top: 75px;
      right: 15px;
      font-size: 17px;
      color: #ffffff;
      font-weight: bold;
    }
    .isfahan-description {
      font-weight: bold;
      color: #07c;
      padding: 15px 15px 15px 0;
      text-decoration: underline;
    }
    .isfahan-img {
      max-width: 100%;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
  }
  .just-booked {
    position: relative;
    height: 110px;
    background-color: #e9f0fa;
    top: 590px;
    border-radius: 7px;
    padding: 19px;
    .just-booked-txt {
      position: absolute;
      color: #383838;
      font-weight: bold;
    }
    .just-booked-box {
      position: absolute;
      background-color: #ffffff;
      border-right: 2px solid #003580;
      height: 60px;
      width: 270px;
      top: 46px;
      font-size: 13px;
      padding: 10px;
      .just-booked-name {
        position: absolute;
        top: 12px;
      }
    }
    .just-booked-2nd {
      position: absolute;
      left: 333px;
    }
    .just-booked-3rd {
      position: absolute;
      left: 19px;
    }
    .just-booked-des {
      position: absolute;
      bottom: 17px;
      line-height: 15px;
      z-index: 99;
      right: 81px;
      a {
        text-decoration: underline;
        font-weight: bold;
        color: #07c;
      }
    }
    .just-booked-1st {
      img {
        position: absolute;
        z-index: 222;
        border-radius: 5px;
      }
    }
  }
  .hr-middle {
    position: absolute;
    border: 0;
    border-bottom: 1px solid #e9f0fa;
    top: 922px;
    width: 960px;
    margin-bottom: 25px;
  }
  .other-destinations {
    position: absolute;
    top: 956px;
    font-size: 18px;
    color: #383838;
  }
  .other-destinations-cont {
    position: relative;
    width: 960px;
    //height: 200px;
    background-color: rgba(0, 53, 128, 0.16);
    top: 672px;
    //clear: both;
    margin-bottom: 120px;
    .other-destinations-box {
      position: absolute;
      border: 0;
      border: 1px solid #e9f0fa;
      border-radius: 3px;
      width: 460px;
      height: 100px;
      float: right;
      .fa-check-circle {
        position: absolute;
        color: #0ab21b;
        right: 310px;
        font-size: 30px;
        top: 3px;
      }
      .fa-angle-left {
        left: 12px;
        font-size: 31px;
        color: #07c;
        position: absolute;
        top: 39px;
      }
      .check-1 {
        right: 370px;
      }
      .check-3 {
        @extend .check-1;
      }
      .fa-plane {
        position: absolute;
        color: #07c;
        border: 1px solid #07c;
        border-radius: 100%;
        right: 402px;
        font-size: 20px;
        top: 5px;
        padding: 3px;
      }
      .plane-2 {
        right: 340px;
      }
      .plane-4 {
        @extend .plane-2;
      }
      .des-parag {
        position: absolute;
        right: 191px;
        top: 70px;
      }
      .img-dest-1 {
        float: right;
        position: absolute;
        height: 100px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      .province {
        position: absolute;
        right: 191px;
        color: #07c;
        font-size: 18px;
        top: 10px;
      }
      .city {
        position: absolute;
        right: 191px;
        color: #07c;
        font-size: 14px;
        top: 30px;
      }
    }
    .des-box-02 {
      left: 0;
    }
  }
  .sea-text {
    position: absolute;
    top: 1280px;
    background-color: #f4f4f4;
    color: #383838;
    font-size: 18px;
    padding: 15px;
    width: 960px;
    box-sizing: border-box;
    border-radius: 3px;
    h3 {
      font-size: 15px;
      margin-top: 9px;
    }
    .comment-1 {
      width: 45%;
      padding: 10px;
      font-size: 14px;
      background-color: #fffffe;
      margin: 20px 6px 20px 20px;
      float: right;
      line-height: 18px;
    }
    .comment-left {
      float: left;
    }
  }
  #still-deciding {
    position: relative;
    height: 100px;
    width: 960px;
    top: 1136px;
    padding: 10px;
    box-sizing: border-box;
    .deciding-main {
      position: absolute;
      top: 10px;
    }
    .deciding-sub {
      position: absolute;
      top: 30px;
      width: 100%;
      font-size: 14px;
    }
  }
  .hotel-reviews {
    position: relative;
    top: 933px;
    display: inline-block;
    width: 100%;
    //background-color: rgba(205, 92, 92, 0.18);
    .ul-2nd {
      .cities-name {
        display: inline-block;
        margin-left: 120px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 50px;
        p {
          padding-bottom: 5px;
        }
        p:nth-child(1) {
          color: #07c;
        }
        p:nth-child(2) {
          color: rgb(131, 131, 131);
          font-size: 0.8em;
        }
      }
    }
    #ul-border-bottom {
      border-bottom: 1px solid #07c;

      li {
        display: inline-block;
        margin-left: 10px;
        padding: 10px;
      }

      .hotel-1 {
        background-color: #07c;
        color: #fff;
      }
    }
  }
  .discover-title {
    position: relative;
    top: 944px;
    font-size: 1.4em;
    font-weight: bold;
    color: #383838;
  }

  .discover {
    position: relative;
    top: 955px;
    width: 100%;
    .image-discover {
      width: 236px;
      height: 136px;
      display: inline-block;
      overflow: hidden;
      .title-on-img {
        position: absolute;
        width: inherit;
        top: 41%;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: white;
        z-index: 999;
        text-shadow: 2px 2px #383838;
      }
      .img-discover {
        //max-height: 100%;
        max-width: 100%;
      }
      img {
        vertical-align: top;
        &:hover {
          filter: blur(5px);
        }
      }
    }
  }
}
.container-4 {
  background: #003580;
  width: 100%;
  position: relative;
  top: 990px;
  #first-footer {
    width: 960px;
    margin: auto;

    .blue-box {
      //width: 960px;
      height: 50px;
      color: white;
      li {
        display: inline-block;
        line-height: 48px;
        margin-left: 30px;
      }
    }
  }
  #second-footer {
    background-color: #e9f0fa;
    .footer-2 {
      width: 960px;
      margin: auto;
      background: #e9f0fa;
      padding-top: 20px;
      ul {
        //width: 960px;
        width: 188px;
        //margin: auto;
        display: inline-block;
        li {
          margin-bottom: 20px;
          color: #07c;
        }
      }
      .about-us {
        h3 {
          padding: 15px 0;
          font-size: 12px;
          line-height: 20px;
        }
      }

      .download-app {
        position: relative;
        .submit-email {
          .email-box {
            border: 0;
            border-radius: 2px;
            outline: 0;
            border: 1px solid #e9f0fa;
            line-height: 25px;
            width: 20%;
            display: block;
            margin-bottom: 5px;
            float: right;
            clear: both;
            &::placeholder {
              font-family: "Vazir", sans-serif;
            }
          }
          .submit-button {
            @extend .email-box;
            font-family: "Vazir", sans-serif;
            font-weight: bold;
            color: white;
            background-color: #003580;
          }
        }
        .submit-mobile {
          position: absolute;
          right: 235px;
          top: 49px;
          .phone-input {
            border: 0;
            border-radius: 2px;
            outline: 0;
            border: 1px solid #e9f0fa;
            line-height: 25px;
            width: 108%;
            display: block;
            margin-bottom: 5px;
            float: right;
            clear: both;
            &::placeholder {
              font-family: "Vazir", sans-serif;
            }
          }
          .submit-button-phone {
            font-family: "Vazir", sans-serif;
            font-weight: bold;
            color: white;
            background-color: #003580;
            border-radius: 2px;
            outline: 0;
            border: 1px solid #e9f0fa;
            line-height: 25px;
            width: 110%;
            display: block;
            margin-bottom: 5px;
            float: right;
            clear: both;
          }
        }
        .or-ya {
          margin-right: 211px;
          margin-top: 22px;
        }
        h1 {
          color: #383838;
          font-size: 22px;
          font-weight: bold;
        }
        h3 {
          font-size: 15px;
          line-height: 26px;
        }
      }
      .go-green {
        position: relative;
        #go-green-ul {
          position: relative;
          right: 255px;
          top: -77px;
          width: 340px;
          display: inline-block;
          #check-no-print {
            font-size: 19px;
            color: #0ab21b;
            position: absolute;
            right: -2px;
          }
          #go-green-text {
            font-size: 14px;
            color: #383838;
            line-height: 12px;
            margin-right: 20px;
            //display: inline;
          }
        }
        .qr-code {
          position: absolute;
          left: 0px;
          top: -88px;
          .qr-text {
            width: 158px;
            font-size: 12px;
            line-height: 18px;
          }
          img {
            width: 160px;
          }
        }
      }

      .copy-right {
        font-size: 10px;
      }
      .our-partners {
        text-align: center;
        color: #383838;
        font-size: 15px;
      }
      .sponsor-images {
        width: 71%;
        margin: auto;
        img {
          margin: 20px 10px;
        }
      }
      .horiz-line {
        border: 0px;
        border-bottom: 1px solid #fff;
      }
    }
  }
}
